<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>글 작성하기</h1>
    <form action="/" method="post">
      <section class="section-language">
        <label for="language">언어</label>
        <input
          type="text"
          placeholder="글 입력해주세요."
          name="language"
          id="language"
        />
      </section>
      <button>추가</button>
    </form>
    <a href="/">Home</a>
  </body>
</html>
