<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>writing</title>
  </head>
  <body>
    <h1>이름: <%= dataResult.name %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
      sapiente optio quod laborum! Exercitationem reprehenderit consequuntur
      ullam commodi aut impedit eos quas praesentium eius, corporis sed et!
      Expedita, repellendus delectus.
    </p>
  </body>
</html>
